.dashboard {
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 2px #9f6cb7;
    width: 800px;
    height: 741px;
}
.dashboard-row {
    border-bottom: 1px solid #000;
    padding: 16px 8px;
    margin: 0 25px;
}

.dash-companytile {
    width: 90px;
    height: 90px;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dash-step-tile {
    width: 35px;
    height: 90px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dash-red {
    background: rgba(236, 73, 73, 0.85);
}

.dash-orange {
    background: rgba(236, 132, 73, 0.85);

}
.dash-yellow {
    background: rgba(236, 220, 73, 0.85);

}
.dash-green {

    background: rgba(155, 236, 73, 0.85);

}
.dash-gray {
    background: rgba(160, 160, 160, 0.85);
}
.dash-blue {
    background: rgba(0, 215, 243, 0.85);

}
.dash-pinky {
    background: rgba(243, 150, 255, 0.85);
}

.dash-magenta {
    background: rgba(107, 0, 54, 0.85);
}
.dash-modal {
    background: rgba(0, 0, 0, 0);
}
.dash-modal-triangle {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    transform: matrix(0.71, -0.61, 0.82, 0.71, 0, 0);
}
.dash-modal-elipse {
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
