.container {
  display: flex;
  flex-direction: row;
}

.jobInfo {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
