.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 81vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-areas: 
        'page_body';
}

.header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    grid-area: header;
}

.page_body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    grid-area: page_body;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
        'company_notes progress_tabs_wrapper';
    padding-right: 165px;
    padding-left: 165px;
}